.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .hero-swiper {
    width: 100%;
    height: 82vh;

    .swiper-slide {
      height: 82vh !important;
    }

    .swiper-pagination {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-40%);
      transform: translateX(96%);
      display: flex;
      flex-direction: column;
      gap: 10px;

      .swiper-pagination-bullet {
        background: white;
        opacity: 0.5;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition: 0.3s ease;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }

    @media screen { 
      @media (max-width: 768px) {
        .hero-swiper {
          height: 100vh !important;
          width: 100%;
        }
      }
      
    }
  }

  .slide {
    position: relative;
    width: 100%;
    height: 100%;

    .slide-bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slide-overlay {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 10;
    }

    .slide-content {
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translateY(-50%);
      z-index: 20;
      color: white;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0 20px;
      transform: scale(1.1);
      margin-top: -130px;

      .tagline {
        text-transform: uppercase;
        font-size: 14px;
        color: #ccc;
        letter-spacing: 1px;
      }

      .headline {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.3;
      }

      .subtext {
        font-size: 16px;
        color: #ccc;
      }

      .cta-button {
        background-color: #3b94f8;
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 385px;

        &:hover {
          background-color: skyblue;
        }
      }
    }
  }
}
